Options -MultiViews

Options +SymLinksIfOwnerMatch

# Rewrite URLs to allow for missing ".php"
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Only code I could find that would work with multi-directories for this (see http://stackoverflow.com/a/10470916/477632):
RewriteRule ^ %{REQUEST_URI}.php [L]

ErrorDocument 404 /404.html

#### Forwarding ####

# Forwarding to Google+
Redirect /+ https://plus.google.com/104494880066441442910

# Other Forwarding
Redirect /sandbox /dev
Redirect /longlivecc http://www.youtube.com/watch?v=KZp7tDk7Sag
Redirect /elias http://www.youtube.com/watch?v=cNOXqDREb-Y
Redirect /marinavideo /archive/marinavideo