---
---

@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans JP', Arial, 'Sans-Serif';
    color: $colorFont;
    background: $colorBackground;
}

a {
    text-decoration: none;
    color: $colorHighlight;

    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 16px;
}
