/* CSS Document */
form {
	
}
form h2 {
	font-size: 22px !important;
}
form textarea {

}
form input[type=text], form input[type=email] {
	
}
form input[type=text], form input[type=email], form textarea {
	width: 92%;
	padding: 10px 4%;
}
form input[type=text]:focus, form input[type=email]:focus, form textarea:focus {
	
}
div#senderinfo {
	//width: 89%;
	padding: 10px 8%;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
}
	div#senderinfo .label {
		font-weight: bold;
		margin: 0 10px;
		text-align: left;
		font-size: 12px;
		padding-bottom: 2px;
		line-height: inherit;
	}
	div#senderinfo input {
		width: 92%;
		margin: 0 auto 10px auto;
		font-size: 15px;
	}
	div#senderinfo input, div#senderinfo .label {
		display: block;
	}