@charset "utf-8";
/* CSS Document */
#conash3D0 {height:0px; top:-1px; display: none;}
* { margin: 0; padding: 0; }
#header {
	min-width: 960px;
	height: 180px;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #FFF;
	background: #000 url(../../images/header-bg.png);
}
	#header #hcontainer {
		width: 960px;
		margin: 0 auto 0 auto;
	}
#container {
	width: 960px;
	margin: 20px auto 0 auto;
	overflow: hidden;
}
	#sidebar {
		width: 70px; /*was 189 */
		border-right: 1px solid #333;
		padding-right: 10px;
		text-align: center;
		float: left;
		/* Hack */
		/*padding-bottom: 5000px;
		margin-bottom: -5000px;*/
	}
	#supercontent {
		width: 879px;
		float: left;
		min-height: 485px;
	}
		#content {
			padding: 0 10px 10px 15px;
		}
#footer {
	margin-bottom: 30px;
}
	#footer #footernav {
		width: 960px;
		text-align: center;
		color: #666;
		border-style: solid none solid none;
		border-color: #666;
		border-width: 1px;
		margin: 50px auto 25px auto;
	}
	#footer #randomfavquote {
		text-align: center;
		color: #666;
		font-family: "Rancho";
		/* margin: auto 30px; */
		margin: auto;
		max-width: 885px;
		font-size: 22px;
	}
.clearfloats { clear: both; }
/*********NAVIGATION************/
#navbar {
	text-align: center;
	margin: 0 auto 0 auto;
	height: 75px;
	min-width: 316px;
}
	#navbar .li {
		font-size: 16px;
		color: #666;
		display: inline-block;
		vertical-align: top;
		width: 100px; /*100px + 10px margin + 20px padding + 2px border = 132px each */
		height: 25px;
		padding: 10px 10px 5px 10px;
		border-width: 1px;
		border-style: none solid solid solid;
		border-color: #4E4E4E;
		margin: 0 5px 25px 5px;
		background: #4E4E4E;
		border-top: 3px solid #06C/*#004080*/;
		color: #CCC;
		/* CSS3 Corners */
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	#navbar #currentpage {
		border-top: 3px solid #06C/*#004080*/;
		background: #7A7A7A;
		color: #333;
		cursor: default;
		//padding-top: 6px;
	}

/* Disables mouseover underlining on browsers like Chrome */
#navbar a { text-decoration: none; color: inherit; }

/* For mobile only */
#likebuttons-mobile { display: none; }
#mobile-social-buttons { display: none; }