/* Tablet (landscape) 	768px */
/* Same as fullscreen, so no need to bother with it here */
/*@media only screen and (max-width: 1024px) {
	#supercontent {	background: blue; }
}*/

/* Tablet (Portrait) 	768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* #supercontent {	background: purple; } */

	#header h1 #header-suffix { display: none; }

	#header {
		width: 100%;
		min-width: 0;
		text-align: center;
	}

	#header #hcontainer {
		width: 100%;
	}

	#container { width: 100%; }
	#supercontent { width: 88%; }

	#footer #footernav { width: auto; }
}	

/* Mobile (Landscape) 	480px */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	/* #supercontent {	background: orange; } */

	#header h1 { font-size: 60px }

	#navbar .li {
		padding-left: 2px;
		padding-right: 2px;
		width: 96px;
	}
}

/* Mobile (portrait) 	320px */
@media only screen and (max-width: 480px) {
	/* #supercontent {	background: red; } */

	#header h1 { font-size: 40px; }

	#navbar .li {
		font-size: 14px;
		width: 70px;
		padding-right: 0;
		padding-left: 0;
		margin-left: 2px;
		margin-right: 2px;
	}
}

/* Mobile (portrait and landscape) */
@media only screen and (max-width: 767px) {

	#header img { display: none; }
	#sidebar { display: none; }
	#container {
		width: 100%;
		margin-top: 0px;
	}
	#supercontent { width: 100%;  } /* defer width of content to container */

	#header h1 #header-suffix { display: none; }
	#header h1 {
		text-align: center;
		float: none;
		line-height: 100px;
	}
	#header {
		width: 100%;
		min-width: 0;
		height: 100px;
	}
	#header #hcontainer { width: 100%; }

	#footer #footernav { width: auto; }
	#randomfavquote { display: none; }
	#likebuttons-mobile { display: block; }

	#footer #likebuttons-mobile {
		text-align: center;
	}
	#footer #likebuttons-mobile > * {
		display: inline-block;
		margin: 10px 20px;
	}
	#footer #likebuttons-mobile > *:first-child {
		margin-top: 1px;
		vertical-align: top;
	}

	#footer #mobile-social-buttons {
		text-align: center;
		display: block;
	}
	#footer #mobile-social-buttons img {
		width: 25px;
		margin: 10px;
	}

	/* beta message tweak */
	#betabanner {
		font-size: 11px;
	}
}