@charset "utf-8";
/* CSS Document */
img { border: none; }
body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 13px;
}
a, a:visited, a:active, a:focus {
	color: #06C;
	text-decoration: none;
}
::selection {
	background: #a8d1ff;
}
a:hover {
	color: #09F;
	text-decoration: underline;
}
#betabanner {
	margin: 0;
	padding: 10px;
	text-align: center;
	background: black;
	color: #999;
	font-weight: bold;
}
	#betabanner a {
		color: #CCC;
		text-decoration: none;
	}
	#betabanner a:hover {
		color: white;
	}
#header h1 {
	font-family: 'Josefin Sans Std Light', Arial, Helvetica, sans-serif;
	font-size: 77px;
	line-height: 165px;
	letter-spacing: 5px;
	font-weight: normal;
	text-align: center;
	//float: left;
	vertical-align: top;
	display: inline-block;
}
#header img {
	//float: left;
	display: inline-block;
	margin: 0 20px 0 8px;
	/* CSS3 Corners */
	border-radius: 5px; border-radius: 5px;
	-moz-border-radius: 5px; -moz-border-radius: 5px;
	-webkit-border-radius: 5px; -webkit-border-radius: 5px;
	-o-border-radius: 5px; -o-border-radius: 5px;
}

/***********
 * Sidebar *
 **********/

#sidebar h1 {
	text-align: center;
	font-family: "Josefin Sans Std Light", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.fixedsidebar {
	z-index: 2;
}

#sidebar a.moredw-link {
	display: block;
	width: 35px;
	margin: 20px auto;
}

	#sidebar a.moredw-link img {
		width: 30px;
		height: 30px;
	}
	
	#sidebar #likebuttons {
		margin-top: 50px;
	}
		#sidebar #likebuttons iframe {
			margin: 20px auto;
		}
	#sidebar #more-dw {
		position: relative;
	}

#sidebar #socialpopup {
	position: absolute;
	left: 100px;
	width: 400px;
	height: 200px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	background: white;
	border: 2px solid #666;
	text-align: left;
	display: none;
	z-index: 2;
}

#sidebar #socialpopup:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	top: 10px;
	border: 10px solid;
	border-color: transparent #666 transparent transparent;
}

#sidebar #socialpopup:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -17px;
	top: 10px;
	border: 10px solid;
	border-color: transparent white transparent transparent;
}

	#socialpopup .socialpopup-content {
		display: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: relative;
		z-index: 5;
	}
	
	#socialpopup #gplus-popup-content #gplusbordercover {
		border: 5px solid white;
		height: 308px;
		width: 293px;
		margin-bottom: -312px;
		background: none;
		float: left;
		position: relative;
		pointer-events: none;
		z-index: 10;
	}
	#socialpopup #linkedin-popup-content #linkedinbordercover {
		border: 10px solid white;
		height: 130px;
		width: 345px;
		margin-bottom: -135px;
		background: none;
		float: left;
		position: absolute;
		pointer-events: none;
		z-index: 10;
	}

	/* Fix for twitter widget width */
	#socialpopup #twitter-popup-content #twitter-widget-0 {
		width: 100% !important;
	}

#supercontent h1 {
	text-align: center;
	font-family: 'Raleway', Verdana, Geneva, sans-serif;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 20px;
}
#supercontent h2 {
	font-family: 'Oswald', Verdana, Geneva, sans-serif;
	font-size: 25px;
	font-weight: normal;
	border-bottom: #333 solid 1px;
	/*margin: 20px 0 20px 30px;*/
	margin: 15px 0;
}
#supercontent h2[underline=off] { border-bottom: none; }
#supercontent p { margin: auto 0 10px auto; }
#topshadow {
	background: url(../../images/dropshadow.png);
	background-repeat: repeat-x;
}
#footer a, #footer a:visited {
	color: inherit;
	text-decoration: none;
}
#footer a:hover { color: #000; }
#content ol li {  }

/* BUTTONS */

.button {
	display: inline-block;
	text-align: center;
	margin: 15px;
	padding: 4px 30px;
	background: rgb(53, 158, 255);
	border: 1px solid gray;
	text-decoration: none;
	color: black !important;
	border-radius: 50px;
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.5s;
	font-size: 14px;
	font-weight: bold;
}

	.button:hover {
		box-shadow: inset -1px -2px 5px rgba(0, 0, 0, 0.5);
		transition: box-shadow 0.5s;
		text-decoration: none;
	}

#supercontent ol, #supercontent ul {
	margin-left: 35px;
}

	#supercontent ol li, #supercontent ul li {
		margin: 12px auto;
	}
	
#pagedescription {
	text-align: center;
	margin: 0 20px 20px 20px;
}

div#error {
	width: 300px;
	margin: 20px auto;
	padding: 10px;
	background: #FF595E;
	border: 1px solid #666;
	font-weight: bold;
	display: none;
	border-radius: 2px;
	position: relative;
}

/* Curved Shadows - Verticle */
/*div#error:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 50%;
	right: 0;
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	border-radius:100px / 10px;
}*/

/* Curved Shadows - Horizontal */
/*div#error:before {
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	border-radius: 100px / 10px;
}*/

/* Lifted Corners Shadows */
div#error:before, div#error:after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width:300px;
	
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
   	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

div#error:after {
	right: 10px;
	left: auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
   	-o-transform:rotate(3deg);
	-ms-transform: rotate(3deg);
	transform:rotate(3deg);
}

/***********WEBKIT SCROLLBAR***************/
::-webkit-scrollbar {
	background: #CCC;
	width: 7px;
}
::-webkit-scrollbar:horizontal {
	background: #CCC;
	height: 7px;
}
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {
	background: #666;
	border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
::-webkit-scrollbar-corner       { }
::-webkit-resizer                { }